ion-content{
    --background:#FFF;
    }
    h5{
        color: black;
        text-align: center;
        font-weight: bold;
    margin-bottom: 10%;
    }

    .li{
        display: flex;
        margin-top: 2%;
       width: 90%;
        justify-content: center;
        
         margin-right: 20%;
       
    }
    // .cr{
    //     background-color: #FFF;
    //     color: black;
    //     text-align: center;
    // }
    ion-card{
        background-color: #FFF;
        color: black;
        text-align: center;
    }
    ion-title{
        background-color: #FFF;
    }