.cardd{
    background-color: white;
    color: black;
}
.ion-card{
    background-color: white;
    color: black;
}
h4{
    text-align: center;
    font-weight: bold;
    padding-top: 12px
}

ion-content{
    --background:#FFF;
    }

    .logo{
   
        display: flex;
        height: 30%;
        justify-content: center;
        // padding-top: -50px;
        // margin-top: 1%;
    
    }
    // .fix{
    //     position:fixed
    // }