<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
<!-- <h1 routerLink="/tabs/accueil">inscrire </h1> -->
<div class="fontt">
  <div class="logo">
    <img src="../assets/doc.png" alt="">
  </div>
  <h6>VEUILLEZ REMPLIR TOUS LES CHAMPS </h6>
  <div class="connexion">
    <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

    <label class="item item-input item-stacked-label mb-4">
      <span class="input-label">Nom et Prenom</span><br>
      <input type="text" placeholder="Votre nom" name="username"
      [(ngModel)]="form.username"
       required
        #username="ngModel">
    </label>

    <label class="item item-input item-stacked-label mb-4">
      <span class="input-label">Email</span><br>
      <input type="email" placeholder="Votre email" name="email" [(ngModel)]="form.email"
      required
      #email="">
    </label>

    <label class="item item-input item-stacked-label mb-4">
      <span class="input-label ">Numero</span><br>
      <input type="text" placeholder="Votre numero" name="numero" [(ngModel)]="form.numero"
      required
      #numero="">
    </label>
  

    <label class="item item-input item-stacked-label mb-4">
      <span class="input-label">Mot de passe</span><br>
      <input type="password" placeholder="votre password" name="password" [(ngModel)]="form.password" required minlength="6"
        #password="ngModel">
    </label>

  <div class="text-center" >
    <button type="submit" class="btn btn-success" style="padding: 1%; margin-right: 20%; margin-bottom: 4%;">S'inscrire</button>
  </div>
</form>
  <i class="bi bi-arrow-return-left" style="color: #149B54;"></i>
  </div>
  </div>
</ion-content>
