<ion-tabs>

  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="des">
      <ion-icon name="home" style="color: white;"></ion-icon>
      <ion-label style="color: white;">ACCUEIL</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ajout">
      <ion-icon name="add" style="color: white;"></ion-icon>
      <ion-label style="color: white;">AJOUT</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="mes-histo">
      <ion-icon name="bandage-outline" style="color: white;"></ion-icon>
      <ion-label style="color: white;">HISTORIQUE</ion-label>
    </ion-tab-button> -->

    <!-- <ion-tab-button tab="rdv">
      <ion-icon name="alarm-outline"></ion-icon>
      <ion-label>RDV</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="pharmacien">
      <!-- <ion-icon name="location-outline"></ion-icon> -->
      <ion-icon name="medkit-outline"  style="color: white;"></ion-icon>
      <ion-label style="color: white;">PHARMACIEN</ion-label> 
    </ion-tab-button>

    
    
  </ion-tab-bar>

</ion-tabs>
