ion-content{
    --background:#FFF;
    }
    h2{
        color: black;
        text-align: center;
        font-weight: bold;
        margin-top: 20%;
    }

    .li{
        display: flex;
        width: 40%;
        margin-top: 8%;
       // height: 240px;
        justify-content: center;
        margin-left: 30%;
        // height: 30vh !important;
        // width: 30vh !important;
        // align-items: center;
        // padding-top: -50px;
    }
    
    ion-card{
        background-color: #FFF;
        color: black;
        text-align: center;
    }
    ion-title{
        background-color: #FFF;
    }