<ion-header>
  <ion-toolbar>
    <ion-title>Modif_traitement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fontt">
    <div>

      <h3>VEUILLEZ REMPLIR TOUS LES CHAMPS </h3>
      <img src="../assets/l.png" alt="" class="logo">
    </div>

   

   <ion-card class="car bg-white">
    
    <div class="cont">
      <label class="item item-input item-stacked-label mb-4">
        <span class="input-label">Nom Medicament</span><br>
        <input type="text" placeholder="Le nom du medicament">
      </label>
    
      <label class="item item-input item-stacked-label mb-4">
        <span class="input-label">Duree du traitement</span><br>
        <input type="text" placeholder="Donnez la duree">
      </label>
    
      <label class="item item-input item-stacked-label mb-4">
        <span class="input-label">Nombre de pillules</span><br>
        <input type="number" placeholder="Prises par jour">
      </label>
      
    
      <label class="item item-input item-stacked-label mb-4">
        <span class="input-label">Date de debut</span><br>
        <input type="date" placeholder="Specifier la date">
      </label>
      
    
      <label class="item item-input item-stacked-label mb-4">
        <span class="input-label">Date fin</span><br>
        <input type="date" placeholder="Specifier la date">
      </label>
    
      <label class=" item item-input item-stacked-label mb-4" style="padding-left: 60px;">
        <span class="input-label">Nombre de fois par jour</span><br>
        
        <input type="number" min="1"  max="5">
      </label>
      <label class="item item-input item-stacked-label mb-4">
        <span class="input-label">Intervalle</span><br>
        <input type="number" placeholder="Entre prises">
      </label>
    </div>
   </ion-card>
  <div class="text-center" >
    <button class="btn btn-success">Appliquer</button>
  </div>
</div>
</ion-content>
