<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="fontt">
    <div class="logo">
      <img src="../assets/log.png" alt="" style="margin-right: 10%;">
    </div>
    <h6>VEUILLEZ VOUS CONNECTER A VOTRE COMPTE</h6>

    <div class="connexion" style="margin-left: 20%;">  
      <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    
      <label class="item item-input item-stacked-label mb-4">
        <span class="input-label" >Nom et Prenom</span><br>
        <input type="text" placeholder="Votre pseudo" name="username"
        [(ngModel)]="form.username"
         required
          #username="ngModel">
         </label>
         <div
            class="alert alert-danger col-md-6"
            role="alert"
            *ngIf="username.errors && f.submitted"
          >
           Nom d'utilisateur est obligatoire !
          </div>
  
      <label class="item item-input item-stacked-label mb-4">
        <span class="input-label">Mot de passe</span><br>
        <input type="password" placeholder="votre password" name="password" [(ngModel)]="form.password" required minlength="6"  #password="ngModel">
      </label>
      
      <div class="alert alert-danger  col-md-6"
      role="alert"
      *ngIf="password.errors && f.submitted">
      <div *ngIf="password.errors">Mot de passe est obligatoire !</div>
      <div *ngIf="password.errors">
       6 caractères au minimum
      </div>
    </div>

      <div class="text-center" >
        <button type="submit" class="btn btn-success" style="padding: 1%; margin-right: 25%;">se connecter</button>
      </div>

        </form>

    </div>

    <h5 routerLink="/inscription" style="text-decoration: underline; color: #149B54; font-weight: bold; margin-left: 10%;">Creer un nouveau compte</h5>
    
    <!-- <h6 style="text-align: center;">OU</h6>
    <div class="text-center" >
      <button class="btn btn-success"routerLink="/inscription" style="padding: 1%;margin-left: 5%;">Creer un compte</button>
    </div> -->
  </div>
</ion-content>


