<!-- <ion-header>
  <ion-toolbar>
    <ion-title>modif_rdv</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="cont">
    <h4>VEUILLEZ REMPLIR TOUS LES CHAMPS </h4>
    <img src="../assets/l.png" alt="" class="logo">
  
  
    <ion-card class="car bg-white" style="padding: 12%; margin-top: -2%;">
      <form (ngSubmit) = "modifrdv()">

      <div class="cont">
  
    <label class="item item-input item-stacked-label xs-12">
      <span class="input-label">Service medical</span><br>
      <input type="text" placeholder="Le nom du medicament"  required [(ngModel)]="serviceu">
    </label><br>
  
    <label class="item item-input item-stacked-label mb-4" style="margin-top: 7%;">
      <span class="input-label">Motif du rendez-vous</span><br>
      <input type="text" placeholder="Donnez le motif du rdv"  required [(ngModel)]="motifu">
    </label>
  
    <label class="item item-input item-stacked-label mb-4" style="margin-top: -8%;">
      <span class="input-label">Date du rendez-vous</span><br>
      <input type="date" placeholder="Specifier la date"  required [(ngModel)]="dateu">
    </label>

    <label class="item item-input item-stacked-label mb-4" style="margin-top: -8%;">
      <span class="input-label" >Heure du rendez-vous</span><br>
      <input type="time" style="margin-left: 30%;" placeholder="Specifier la date"  required [(ngModel)]="heureu">
    </label>

  </div>
  <div class="text-center" style="margin-bottom: 2%;" >
    <button type="submit" class="btn btn-success">Appliquer</button>
  </div>

</form>

  </ion-card>
   
  </div>
  
</ion-content>
