ion-content{
    --background:#FFF;
    }
    h3{
        color: black;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
    }
    h4{
        color:black;
        text-align: center;
        font-weight: bold;
        // margin-top: 50px;
    }

    .trait{
        width: 80%;
        margin-top: 30%;
        margin-left: 20%;
    }
    .rdv{
        width: 80%;
        margin-top: 8%;
        margin-left: 20%;
    }
    ion-title{
        background-color: #FFF;
    }