.logo{
   
    display: flex;
    height: 490px;
    justify-content: center;
    padding-top: -20px;

}
.oh{
    padding-top: 8%;
    display: flex;
    justify-content: center;
    height: 60%;
}
.fontt{
    background-color: white;
}
// h6{
//     text-align: center;
//     padding: 1%;
//     color: black;
//     font-weight: bold;
// }
.text-center{
    padding-top: 40px;
}
// h6{
//     color: black;
// }

// .iii{
//     padding-top: -40px;
//     padding-bottom: 70px;
// }

ion-content{
    --background:#FFF;
    }
    // .im{
    //     padding-bottom: 10%;
     //  height: 10%;
    //     width: 70%;
    //  }

    .rd{
        background-color: #149B54;
        //  height: 50%;
        padding: 1%;
        //  padding-bottom: 10%;
         margin-top: 25%;
        // margin-left: 3%;
        // margin-right: 3%;
    }
    // h2{
    //     margin-bottom: 30px;
    // }
    // .oh{
    //      margin-left: 6%;
    //      margin-top: 2%;
         
    // }
    ion-title{
        background-color: #fdfdfd;
        color: white;
    }
    ion-header{
        background-color: #FFF;
    }
    ion-title{
        background-color:#FFF;
    }
    .col-6{
        width: 45%;
    }
    h6{
        font-size: 80%;
    }